<div class="ViewDropComponent" fxLayout="row" fxLayoutAlign="center center">
    <div fxFlex=50 class="ViewDropComponent-nft">
        <img src="{{collectibleDrop.thumbnailUrl}}" alt="NFT Image">
    </div>
    <div fxFlex=50 class="ViewDropComponent-details" fxLayout="column" fxLayoutAlign="start start">
        <p>{{collectibleDrop.collectionName}}</p>
        <h1>{{collectibleDrop.name}}</h1>
        <div fxLayout="row" ffxLayoutAlign="space-between start">
            <b>{{collectibleDrop.salePrice}}</b>
            <b>{{collectibleDrop.remainingQuantity}} Remain</b>
        </div>
        <p>${{collectibleDrop.salePrice}}</p>
        <button class="ViewDropComponent-button" mat-raised-button color="accent">
            Buy Now
        </button>
    </div>
</div>