<div *ngIf="collectibleDrop; else loadingSpinner" class="ViewDropComponent" fxLayout="row" fxLayoutAlign="center center">
    <img fxFlex=50 src="{{collectibleDrop.thumbnailUrl}}" alt="NFT Image">
    <div fxFlex=50 class="ViewDropComponent-details" fxLayout="column" fxLayoutAlign="start start">
        <p class="ViewDropComponent-collection">{{collectibleDrop.collectionName}}</p>
        <h1>{{collectibleDrop.name}}</h1>
        <p class="ViewDropComponent-price">${{collectibleDrop.salePrice}}</p>
        <p class="ViewDropComponent-quantity">{{collectibleDrop.remainingQuantity}} Remain</p>
        <p class="ViewDropComponent-description">{{collectibleDrop.description}}</p>
        <p class="ViewDropComponent-supplier">Supplied By: {{collectibleDrop.partnerName}}</p>
        <p class="ViewDropComponent-addr">Contract Address: 
            <a  href="https://polygonscan.com/token/{{collectibleDrop.contractAddress}}/"
                target="_blank">
                {{collectibleDrop.contractAddress}}
            </a>
        </p>
        <p class="ViewDropComponent-block">Blockchain: {{collectibleDrop.blockchainName}}</p>
        <a
        class="ViewDropComponent-button" mat-raised-button
        color="primary"
        (click)="buyNow()"
        href="{{collectibleDrop.dropItemDescriptionLink}}"
        target="_blank">
        Buy Now
    </a>
    </div>
</div>

<ng-template #loadingSpinner>
    <div class="Loading" fxLayout="column" fxLayoutAlign="center center">
      <mat-spinner color="accent"></mat-spinner>
    </div>
</ng-template>