.ViewDropComponent {
    &-price, &-quantity {
        font-weight: bold;
    }
    &-collection, &-description {
        color: grey;
    }
    &-button, &-description {
        width: 65%;
    }
}

.Loading {
    min-height: 90vh;
}