<mat-card class="NftComponent" fxLayout="column">
    <img fxFlex="50" class="NftComponent-image" mat-card-image src="{{collectibleDrop.thumbnailUrl}}" alt="NFT Image">
    <div fxFlex="30" color="primary">
        <p class="NftComponent-title">{{collectibleDrop.name}}</p>
        <p class="NftComponent-lineItem">By {{collectibleDrop.partnerName}}</p>
        <p class="NftComponent-lineItem"> #/{{collectibleDrop.totalQuantity}}</p>
        <p class="NftComponent-price">${{collectibleDrop.salePrice}}</p>
    </div>
    <mat-card-actions fxFlex="20" align="end">
      <button 
        [disabled]="!collectibleDrop.hasPreferredAccess"
        class="NftComponent-button"
        fxLayout="row"
        fxLayoutAlign="start center"
        mat-button 
        color="accent"
        (click)="viewDrop(collectibleDrop.id)">
        {{collectibleDrop.hasPreferredAccess ? 'Join Drop' : 'Sold Out'}}
        <mat-icon *ngIf="collectibleDrop.hasPreferredAccess">double_arrow</mat-icon>
      </button>
    </mat-card-actions>
  </mat-card>